*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-family: "Libre Caslon Text", serif;
    font-size: 5rem;
    font-weight: 700;
}

h2{
    font-family: "Libre Caslon Text", serif;
    font-size: 3rem;
    color: #F1DDBF;
}

h4{
    font-family: "Libre Caslon Text", serif;
    font-size: 2rem;
}

h6 {
    font-family: "Libre Caslon Text", serif;
    font-size: 1rem;
    color: #F1DDBF;
}

p{
    font-family: "Libre Caslon Text", serif;
    font-size: 1.3rem;
    color: #F1DDBF;
}

/*Navbar*/

.logoResto{
    width: 100%;
    height: auto;
}

.navbar{
    position: relative;
    position: fixed;
    width: 100%;
    background: rgba(77, 77, 77, 0.15);
    /*backdrop-filter: blur(12px);*/
}

.navbar-item {
    color: #F1DDBF;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Libre Caslon Text", serif;
}

.navbar-start{
    margin-left: auto;
}

.item-reservas:hover{
    background: #D8AE4E;
    color: black;
}

/*Hero*/

.heroHome{
    height: 100vh;
    background-image: url(../image/frenteEstancia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
}

.containerHero{
    padding-top: 10rem;
    margin-left: 4rem;
}

.containerHero .button{
    background: #C89B3C;
    border-color: #C89B3C;
    font-family: "Libre Caslon Text", serif;
    margin-top:35px;
}

.containerHero .button:hover{
    background: #D8AE4E;
    border-color: #D8AE4E;
    color: black;
}

.containerHero h1{
    color: #F1DDBF;
}

.subtitle{
    color: #F1DDBF;
}

/*Historia*/

#historia{
    background-image: url("/image/historia1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedorHistoria{
    background-color: black;
    padding: 3rem;
}

.contenedorHistoria p, 
.contenedorHistoria h2{
    text-align: center;
}


.contenedorVacio{
    border:black solid 20px;
    
}

#historia p{
    font-size: 1rem;
}

.grid{
    gap: 0;
}

/*Panoramica Salon*/

#panoramicaSalon{
    background-color: black;
}



/*Frase Elegante*/

.fraseElegante{
    background-color: #F1DDBF;
}

.fraseElegante p{
    font-family: "Great Vibes", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}



/*Frase Elegante 2*/

.fraseElegante2{
    background-color: #F1DDBF;
}

.fraseElegante2 p{
    font-family: "Great Vibes", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}

/*Locales*/

.locales {
    background-image: url("/image/backgrounLocales.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

.contenedor-locales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 10%;
}

.contenedor-locales-titulo{
    text-align: center;
    padding-top: 4rem;
}

.contenedor-locales-titulo h2,
.contenedor-locales-titulo h4{
    color: #F1DDBF;
}

.contenedor-locales .local-card{
    border-radius: 20px;
    overflow:hidden;
    transition: .3s;
    border: 1px solid #C89B3C;
}

.locales .local-card:hover{
    transform:translateY(-8px);
}

.contenedor-locales .local-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.contenedor-locales h4{
    padding: 1rem;
    text-align: center;
    color: black;
}

.contenedor-locales p{
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: black;
}



.locales .local-card div{
    background-color: #F1DDBF;
}

/*Menú*/

.menu{
    background-image: url(/image/menu.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tituloMenu{
    padding-top: 3rem;
}

.tituloMenu h4{
    text-align: center;
    color: #F1DDBF;
}

.tituloMenu h2{
    text-align: center;
    color: #F1DDBF;
}

.menuContainer{
    padding: 2rem;
}

.tarjetaMenu, .tarjetaMenu2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.tarjetaMenu img, .tarjetaMenu2 img {
    border: solid 1px #C89B3C;
    width: 100%;
    display: block;
} 

.infoMenu{
    text-align: center;
}

.contenedorPlato{
    margin-top: 1rem;
}

.infoMenuPlato, .infoMenuPlato2 {
    font-size: 1rem;
}

.infoMenuDescPlato, .infoMenuDescPlato2 {
    font-size: 0.8rem;
    font-style: oblique;
    color: white;
}

.infoMenuCateg{
    color: #F1DDBF;
}

/*Reservas*/

#reservas{
    background-image: url(/image/reservas.png);
    background-attachment: fixed;
}
.contenedorFormulario{
    padding: 2rem 10rem;
}

.contenedorFormulario h2{
    text-align: center;
}

.formReserva{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 2rem;
}

.contenedorReservas p{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.formReserva .field{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.formReserva input {
    background-color: #F1DDBF;
    color: black;
    border: #F1DDBF;
    font-family: "Libre Caslon Text", serif;
}

.formReserva label {
    font-family: "Libre Caslon Text", serif;
    color: #F1DDBF;
}

.contenedorBoton{
    text-align: center;
    padding-top: 1.5rem;
}

.button{
    background-color: #C89B3C;
    font-family: "Libre Caslon Text", serif;
    color: #F1DDBF;
}

.button:hover{
    color: black;
}
