*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-family: "Libre Caslon Text", serif;
    font-size: 5rem;
    font-weight: 700;
}

h2{
    font-family: "Libre Caslon Text", serif;
    font-size: 3rem;
    color: #F1DDBF;
}

h4{
    font-family: "Libre Caslon Text", serif;
    font-size: 2rem;
}

h6 {
    font-family: "Libre Caslon Text", serif;
    font-size: 1rem;
    color: #F1DDBF;
}

p{
    font-family: "Libre Caslon Text", serif;
    font-size: 1.3rem;
    color: #F1DDBF;
}

@media (max-width: 768px) {
      h1{
        font-size:3rem;
    }

}

/*Navbar*/

.logoResto{
    width: 100%;
    height: auto;
}

.navbar{
    position: relative;
    position: fixed;
    width: 100%;
    background: rgba(77, 77, 77, 0.15);
    /*backdrop-filter: blur(12px);*/
}

.navbar-item {
    color: #F1DDBF;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Libre Caslon Text", serif;
}

.navbar-start{
    margin-left: auto;
}

.item-reservas:hover{
    background: #D8AE4E;
    color: black;
}

/*Hero*/

.heroHome{
    height: 100vh;
    background-image: url(../image/frenteEstancia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
}

.containerHero{
    padding-top: 10rem;
    margin-left: 4rem;
}

.containerHero .button{
    background: #C89B3C;
    border-color: #C89B3C;
    font-family: "Libre Caslon Text", serif;
    margin-top:35px;
}

.containerHero .button:hover{
    background: #D8AE4E;
    border-color: #D8AE4E;
    color: black;
}

.containerHero h1{
    color: #F1DDBF;
}

.subtitle{
    color: #F1DDBF;
}

@media (max-width: 768px ) {
    .containerHero{
        margin-left: 1rem;   
    }
}


/*Historia*/

#historia{
    background-image: url("../image/historia1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenedorHistoria{
    background-color: black;
    padding: 3rem;
}

.contenedorHistoria p, 
.contenedorHistoria h2{
    text-align: center;
}


.contenedorVacio{
    border:black solid 20px;
    background: rgba(255, 255, 255, 0.15);
}

#historia p{
    font-size: 1rem;
}

.grid{
    gap: 0;
}


@media (max-width: 768px) {
    #historia .grid{
        display: block;
    }
    .contenedorVacio{
        display: none;
    }
    .contenedorHistoria{
        background: rgba(255, 255, 255, 0.10);
    }
    .contenedorHistoria h2{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
}



/*Panoramica Salon*/

#panoramicaSalon{
    background-color: black;
}

@media (max-width: 768px) {
    #panoramicaSalon{
        border: 10px solid black;
    }
}



/*Frase Elegante*/

.fraseElegante{
    background-color: #F1DDBF;
}

.fraseElegante p{
    font-family: "Great Vibes", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}

@media (max-width: 768px) {
    .fraseElegante p{
        font-size: 2rem;
    }
}

/*Frase Elegante 2*/

.fraseElegante2{
    background-color: #F1DDBF;
}

.fraseElegante2 p{
    font-family: "Great Vibes", cursive;
    color: black;
    font-size: 3rem;
    text-align: center;
}

@media (max-width: 768px ) {
    .fraseElegante2 p{
        font-size: 2rem;
    }
}

/*Locales*/

.locales {
    background-image: url("../image/backgrounLocales.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

.contenedor-locales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 10%;
}

.contenedor-locales-titulo{
    text-align: center;
    padding-top: 4rem;
}

.contenedor-locales-titulo h2,
.contenedor-locales-titulo h4{
    color: #F1DDBF;
}

.contenedor-locales .local-card{
    border-radius: 20px;
    overflow:hidden;
    transition: .3s;
    border: 1px solid #C89B3C;
}

.locales .local-card:hover{
    transform:translateY(-8px);
}

.contenedor-locales .local-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.contenedor-locales h4{
    padding: 1rem;
    text-align: center;
    color: black;
}

.contenedor-locales p{
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: black;
}



.locales .local-card div{
    background-color: #F1DDBF;
}


@media (max-width: 768px) {
    .contenedor-locales{
        display: block;
    }

    .contenedor-locales .local-card{
        margin: 1rem ;
    }

    .contenedor-locales-titulo h2,
    .contenedor-locales-titulo h4 {
        font-size: 2rem;
    }

    .contenedor-locales h4{
        font-size: 1.5rem;
    }

}




/*Menú*/

.menu{
    background-image: 
    /*linear-gradient(rgba(48, 22, 1, 0.5)),
    linear-gradient(rgba(255, 255, 255, 0.05)),*/
    url(../image/cocina.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tituloMenu{
    padding-top: 3rem;
}

.tituloMenu h4{
    text-align: center;
    color: #F1DDBF;
}

.tituloMenu h2{
    text-align: center;
    color: #F1DDBF;
}

.menuContainer{
    padding: 2rem;
}

.contenedorButtonMenu{
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap:wrap;
}

.imagenMenu{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

.imagenMenu img{
    border: 1px solid #C89B3C;
}

.menuCarta{
    padding: 2rem 16rem;
}

.descripcionMenu{
    padding: 2rem;
    background-color: rgba(241, 221, 191, 0.15);
    border-radius: 20px;
    text-align: center;
}

.subtituloMenu{
    font-size: 2rem;
    text-align: center;
}

.platos{
    display: flex;
    justify-content: space-between;
}

.platos p{
    font-size: 1rem;
}

@media (max-width: 768px) {
    .menuCarta{
    padding: 2rem 1rem;
    }
    .contenedorButtonMenu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .tituloMenu h2,
    .tituloMenu h4{
        font-size: 2rem;
    }

    .subtituloMenu{
        font-size: 1.5rem;
    }
    .platos p {
        font-size: 0.8rem;
    }
    .imagenMenu {
        width: 100%;   
    }

    .imagenMenu img {
        border-radius: 20px;
    }
    .subtituloMenu {
        padding-bottom: 1rem;
    }
}

/*Reservas*/

#reservas{
    background-image: url(../image/reservas.png);
    background-attachment: fixed;
}
.contenedorFormulario{
    padding: 2rem 10rem;
}

.contenedorFormulario h2{
    text-align: center;
}

.formReserva{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 2rem;
}

.contenedorReservas p{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.formReserva .field{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.formReserva input {
    background-color: #F1DDBF;
    color: black;
    border: #F1DDBF;
    font-family: "Libre Caslon Text", serif;
}

.formReserva label {
    font-family: "Libre Caslon Text", serif;
    color: #F1DDBF;
}

.contenedorBoton{
    text-align: center;
    padding-top: 1.5rem;
}

.button{
    background-color: #C89B3C;
    font-family: "Libre Caslon Text", serif;
    color: #F1DDBF;
}

.button:hover{
    color: black;
}

@media (max-width: 768px) {
    .contenedorFormulario{
        padding: 2rem 1rem;
    }

    .contenedorFormulario p{
        font-size: 1.2rem;
    }

    .contenedorFormulario h2{
        font-size: 2rem;
    }

    .formReserva{
        width: 100%;
    }

}

.footerContactos{
    background-image: url(../image/fondoFooter2.webp);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.footerContactos h4{
    font-size: 1rem;
    color: white;
    padding-bottom: 1.5rem;
}

.footerContactos p{
    font-size: 0.8rem;
    color: white;
    padding-bottom: 1rem;
}

.footerContactos i {
    font-size: 1.5rem;
    color: #C89B3C;
    padding-bottom: 1rem;
}

.logoFooter h2 {
    font-size: 2rem;
}

.logoFooter .parrillaLogo{
    color: #C89B3C;
    font-size: 0.7rem;
}

.logoFooter .saboresLogo{
    font-style: oblique;
}


.columna{
    flex:1;
    padding:2rem;
}

.columna:not(:last-child){
    border-right:1px solid rgba(216,178,110,.35);
}

.contenedorRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.footerBajo{
    background-image: 
        linear-gradient(
            rgba(32, 20, 10, 0.75),
            rgba(32, 20, 10, 0.95)),
        url(../image/frenteEstancia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.footerBajo div{
    text-align: center;
}

.footerBajo h4{
    color: #C89B3C;
    padding-bottom: 1.5rem;
} 

.footerDerechos{
    background-image: url(../image/fondoFooter2.webp);
    padding: 2rem;
}

.footerDerechos div{
    display: flex;
    justify-content: space-between;
}

.footerDerechos p{
    font-size: .8rem;
}

.footerDerechos span{
    color: #C89B3C;
}

@media (max-width: 768px ) {
    .footerContactos{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .columna{
        width: 100%;
        border-bottom: 1px solid #C89B3C;
        padding: 1rem 0;
    }
    
    .columna:not(:last-child){
        border-right:none;
    }

    .footerBajo h4 {
        font-size: 1rem;
    }

    .footerBajo .button{
        font-size: 1rem;
    }

    .footerDerechos div{

    flex-direction:column;
    gap:1rem;
    align-items:center;

    }
}